name: Maven

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  merge_group:
    types:
      - checks_requested

permissions:
  contents: read

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDKs
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          # Keep this list as: all supported LTS JDKs, the latest GA JDK, and optionally the latest EA JDK (if available).
          # Reference: https://adoptium.net/support/
          java-version: |
            17
            21
            25
          cache: maven

      - name: Build with Maven
        run: ./mvnw --batch-mode --no-transfer-progress verify -Djava17.home=${{env.JAVA_HOME_17_X64}} -Djava21.home=${{env.JAVA_HOME_21_X64}}

      - uses: actions/upload-artifact@v7
        if: failure()
        with:
          name: ${{ matrix.os }}-test-reports
          path: |
            **/surefire-reports/*
